<div class="meals">
  <div class="meals__title">
    <h1>
      <img src="assets/food.svg">
      Your meals
    </h1>
    <a class="btn__add" [routerLink]="['../meals/new']">
      <img src="assets/add-white.svg">
      New meal
    </a>
  </div>
  <div *ngIf="meals$ | async as meals; else loading;">
    <div class="message" *ngIf="!meals.length">
      <img src="assets/face.svg">
      No meals, add a new meal to start
    </div>
    <app-list-item *ngFor="let meal of meals"
                   (remove)="removeMeal($event)"
                   [item]="meal"></app-list-item>
  </div>
  <ng-template #loading>
    <div class="message">
      <img src="assets/loading.svg">
      Fetching meals...
    </div>
  </ng-template>
</div>
